.none-style-button {
  border: none;
  color: white;
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;

  padding: 0px 4px;

  background-color: tomato;
}
.close-button:hover {
  background-color: red;
}
