.none-style-button {
    border: none;
    color: white;
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 10;
    
    padding: 2px 6px;

    background-color: tomato;
}

.close-button:hover {
    background-color: red;
}