.modal-screen {
  position: fixed;
  z-index: 100;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
}

.modal-description {
  position: relative;
  width: 400px;
  min-height: 100px;
  height: 500px;

  margin-top: 30px;
  padding: 10px;

  background-color: #fff;
  border-radius: 5px;
}

.modal-description__description {
  border-bottom: solid 1px #ccc;
  padding: 5px;
}

.update-form {
  margin-left: 10px;
}

.form-title {
  font-size: 20px;
  margin-left: -10px;
}

.update-button {
  position: absolute;
  right: 10px;
  top: 80px
}
